@import "globals.scss";
.product {
  width: 350px;
  height: 380px;
  min-width: 350px;
  box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.4);
  border-radius: 20px;
  overflow: hidden;
  padding: 25px;
  .img-row {
    width: 100%;
    height: 210px;
    .img-cont {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      img {
        width: 50%;
      }
    }
  }
  .detail-row {
    .product-name,
    .product-price {
      font-family: "Lato";
      color: $textColorProductName;
    }
    .product-name {
      font-size: 1.3rem;
    }
    .product-price {
      font-size: 1rem;
    }
  }
  .seller-row {
    .seller-name {
      font-family: "Lato";
      color: $textColorGrey;
    }
  }

  .buttons-row {
    .btn {
      padding: 8px 0;
      border-radius: 10px;
    }
    .chat-btn {
      background: $white;
      color: $textColorGrey;
      box-shadow: 1px 1px 5px $textColorGrey;
    }
    .add-to-cart-btn {
      background-color: $primaryColor;
      color: $white;
      box-shadow: 1px 1px 5px $primaryColor;
    }
  }
}
