@import "globals.scss";
.products {
  > .row {
    div {
      > .page-title {
        @include page-title;
        margin: 0;
      }
    }
    > form {
      color: $textColorGrey;
      font-family: "Lato";
      font-size: 1.1rem;
    }
  }
  hr {
    // margin: 5px 0 20px 0;
  }
  .products-list {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    // height: 100vh;
    // overflow: scroll;
    .add-new-product-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Lato";
      color: $textColorHeading;
      text-decoration: none;
      > h6 {
      }
      > .add-icon {
        transform: scale(2);
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
}
