.App {
  overflow-x: hidden;
  position: relative;
  .body {
    min-height: 100vh;
    .backdrop {
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      position: absolute;
      animation: appear 0.3s 1 linear;
    }

    @keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .footer {
    bottom: 0;
  }
}
