@import "globals.scss";
.edit-product {
  .page-title {
    @include page-title;
  }
  > form {
    .left-form {
      > div {
        font-family: "Lato";
        color: $textColorHeading;
      }
      .submit-btn {
        background-color: $primaryColor;
        color: $white;
      }
    }
  }
}
